<div class="m-5">
  Continent:
  <select
    class="form-select"
    [(ngModel)]="selectedContinent"
    (change)="updateCountries()"
    name="continent"
  >
    <option value="">- Select a Continent -</option>
    <option
      *ngFor="let continent of allContinents"
      [value]="continent.continentID"
    >
      {{ continent.continentName }}
    </option>
  </select>
</div>
<div class="m-5">
  Country:
  <select class="form-select" [(ngModel)]="selectedCountry" name="country">
    <option value="">- Select a Country -</option>
    <option
      *ngFor="let country of filteredCountryOptions"
      [value]="country.countryID"
    >
      {{ country.countryName }}
    </option>
  </select>
</div>
<div class="m-5">
  <button class="btn btn-dark" routerLink="/">Back to Main</button>
</div>
