/* Add application styles & imports to this file! */
.custom-dialog .mat-dialog-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cdk-global-overlay-wrapper {
  z-index: 1000;
}
